name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        scala: [2_12, 2_13, 3]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
          java-version: 8
          distribution: temurin
          cache: sbt
    - name: Set up node.js
      uses: actions/setup-node@v4
      with:
          node-version: "18.16.1"

    - name: Mount caches
      uses: actions/cache@v3
      with:
        path: |
          ~/.sbt
          ~/.ivy2/cache
          ~/.cache/coursier
          ~/.cache/ms-playwright
        key: ${{ runner.os }}-sbt-${{matrix.scala}}-${{ hashFiles('**/*.sbt') }}

    - name: Formatting
      run: |
        sbt scalafmtCheck Test/scalafmtCheck scalafmtSbtCheck

    - name: Compile and test (JVM)
      run: |
        sbt coreJVM${{matrix.scala}}/test e2eJVM${{matrix.scala}}/test
        # e2eJVM${{matrix.scala}}/it:test

    - name: Compile and test (JS)
      run: |
        sbt coreJS${{matrix.scala}}/test

    - name: Run grpc-web e2e test
      if: ${{ matrix.scala != 3 }}
      run: |
        docker compose -f ./examples/fullapp/docker-compose.yaml up -d
        sbt e2eWebJS${{matrix.scala}}/fastOptJS/webpack e2eWebJVM${{matrix.scala}}/test
        docker compose -f ./examples/fullapp/docker-compose.yaml down

    - name: Examples
      run: |
        .github/workflows/test_examples.sh

  # Single final job for mergify.
  ci-passed:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - run: ':'
