name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        scala: [2.12.13, 2.13.5]
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
          java-version: 1.8

    - name: Mount caches
      uses: actions/cache@v2
      with:
        path: |
          ~/.sbt
          ~/.ivy2/cache
          ~/.cache/coursier
        key: ${{ runner.os }}-sbt-${{matrix.scala}}-${{ hashFiles('**/*.sbt') }}

    - name: Formatting
      run: |
        sbt scalafmtCheck test:scalafmtCheck scalafmtSbtCheck

    - name: Compile and test
      run: |
        sbt ++${{matrix.scala}} coreJVM/test e2e/test

    - name: Examples
      run: |
        cd examples && sbt compile && sbt scalafmtCheck test:scalafmtCheck scalafmtSbtCheck
  # Single final job for mergify.
  ci-passed:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - run: ':'
