name: Release
on:
  push:
    branches: [master]
    tags: ["*"]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v3
      with:
        node-version: '16.x'
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
          java-version: 8
          distribution: temurin
          cache: sbt
    - name: Update docs
      run: |
        git config --global user.name "ZIO-gRPC Docs"
        git config --global user.email "zio-grpc-docs@users.noreply.github.com"
        eval "$(ssh-agent -s)"
        echo "$TOKEN" | ssh-add -
        sbt docs/mdoc
        cd website
        yarn install
        yarn deploy
      env:
         TOKEN: ${{secrets.DEPLOY_KEY}}
         USE_SSH: true
         GIT_USER: git
    - uses: olafurpg/setup-gpg@v3
    - name: Publish ${{ github.ref }}
      run: sbt ci-release
      env:
        PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
        PGP_SECRET: ${{ secrets.PGP_SECRET }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
